@import "~react-image-gallery/styles/css/image-gallery.css";
@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-text-std");
@font-face {
  font-family: 'Sign Painter';
  src: url(SignPainterHouseScript.ttf) format('truetype');
}
:root {
  /* --primary-black: #141414; */
  --primary-black: #1c1b1b;
  --soft-black: #404245;
  --soft-grey-background: rgb(242, 241, 241);
  --tan-background: #ebe7df;
  --background-dark: #1b1d21;
  --header-height: 4.5em;
  --sans-serif: "Neue Haas Grotesk Text Std", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

body {
  align-items: center;
  font-family: var(--sans-serif);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.01rem;
  overflow-x: hidden;
  color: var(--primary-black);
  /* background-color: rgba(33, 127, 220, 0.141); */
}

h1 {
  padding: 2rem 10vw 0.5rem;
}


p {
  padding: 1vh 10vw;
  font-size: 1.2rem;
  line-height: 1.2em;
  letter-spacing: 0.01rem;
}

th,
td {
  padding: 0 1.5rem 0 0;
}

button:hover {
  cursor: pointer;
}

a {
  color: var(--primary-black);
  text-decoration: none;
}

/* primary header */

.west-side {
  display:flex;
  flex: 20%;
}

.east-side {
  display: flex;
  flex: 20%;
  justify-content: flex-end;
}

.primary-header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.logo {
  display: grid;
  justify-content: center;
  justify-items: center;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.15rem;
}

.nav-margin {
  margin-top: var(--header-height);
  position: relative;
}

.mobile-nav-toggle {
  display: none;
}

ul,
ol {
  list-style: none;
}

.primary-navigation:first-child,
.hours {
  padding-left: 2rem;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.hero-container {
  padding-top: calc(100vh - var(--header-height) - var(--header-height));
  margin-top: var(--header-height);
  background-size: cover;
  background-position: bottom right;
}

/* .tabor { */
  /* justify-self: center; */
  /* padding: 0 auto; */
  /* vertical-align: middle; */
  /* z-index: 99; */
/* } */
.flex-dir-col {
  display: flex;
  flex-direction: column;
}
.columns {
  padding: 0;
  display: flex;
  /* justify-content: space-between; */
  font-size: 1.1rem;
  /* flex-wrap: wrap; */
  align-items: center;
  background-color: #fff;
  height: var(--header-height);
}

@keyframes scroll-left {

  
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translate(100%);
  }
  
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translate(-100%);
  }
}

.marquee-container {
  width: 100vw;
  overflow-x: scroll;
  overflow: hidden;
  /* margin-bottom: 2rem; */
  /* background-color: brown; */
}

a *:hover {
  /* text-decoration: none; */
}

.marquee {
display: flex;
justify-content: space-between;
padding: 0;
-moz-transform: translateX(100%);
-webkit-transform: translateX(100%);
transform: translate(100%);
-moz-animation: 20s scroll-left linear infinite;
-webkit-animation: 20s scroll-left linear infinite;
animation: 20s scroll-left linear infinite;

}
.marquee p {
  font: 'Sign Painter';
  font-size: 1rem;
  /* text-decoration: none; */
}

#text-dec-none {
  text-decoration: none;
}

.hours {
  justify-content: space-between;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-center {
  display: flex;
  justify-content: center;
}

#book, #call, .button {
  margin: 0 1.6rem;
  border: solid;

}

#book,
#call,
.button,
.marquee-container {
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  padding: 0.6rem 0.8rem 0.5rem 0.8rem;
  align-content: center;
  letter-spacing: 0.05rem;
  transition: 0.2s background-color linear, 0.2s color linear;
}

.rounded {
  border-radius: 1.5rem;
  /* text-decoration: none; */
  padding: 0.6rem 2rem 0.5rem 2rem;;
}


.slick-list img{
  padding: 0;
  background-color: #1c1b1b;
}

.services {
  text-align: center;
}

.services-menu{
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  line-height: 1.5rem;
  padding: 0 3rem 3rem;
}

.services-menu > div {
  display: grid;
  grid-template-columns: 1fr .1fr;
  /* grid-template-rows: repeat(3, 1fr); */
  /* gap: 0 3rem; */
  font-weight: 500;
  width: 290px;
  margin: 0 5vw;
  /* height: fit-content; */
}

.services-menu > *:not(:last-child){
  padding: 10px 0;
  border-bottom: solid;
  border-width: 1px;
  border-color: #40454db7;
}

.portrait-album {
  min-height: 62vh;
  /* position: relative; */
  /* background-color: #ca6060; */
}


@media (min-width: 670px) {
  #book:hover, #call:hover, .marquee-container:hover {
    color: #fff;
    background-color: rgb(202, 52, 52);
    /* background-color: rgb(238, 238, 238); */
    text-decoration: none;
  }
}

@media (max-width: 670px) {
  body {
    font-size: 16px;
  }

  .primary-navigation {
    /* --gap: 2em; */

    position: fixed;
    z-index: 1000;
    inset: 0 20% 0 0;

    flex-direction: column;
    padding: min(16vh, 8rem) 1.8em;

    transform: translateX(-100%);
    transition: transform 350ms ease-out;
/* 
    color: white;
    background-color: #0d4538; */
    color: var(--primary-black);
    background-color: rgb(242, 241, 241);
    
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  
  .blur {
    background: hsl(0 0% 95% / 0.5);
    position: absolute;
    z-index: 900;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    backdrop-filter: blur(1px);

  }

  /* .primary-navigation a {
    text-decoration: none;
  } */

  .primary-navigation > * {
    padding: 0 0 10px 0;
    border-bottom: solid;
    border-width: 1px;
    border-color: #40454db7;
  }

  #show-links {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    width: 1rem;
    background: transparent;
    aspect-ratio: 1;
    /* top: .1rem; */
    left: 1rem;
    border: 0;
  }

  #book {
    margin-right: 1.2rem;
    padding: 0.6rem 0.7rem 0.5rem;
  }
  .hidden {
    display: none;
  }

  .columns {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 10vw;
  }

  .columns > * {
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 1rem;
  }

  #call {
    margin-left: 0;
  }
  .hero-container {
    padding-top: calc(45vh);
  }
}

a:hover {
  text-decoration: underline;
}

.space-between {
  display: flex;
  justify-content: center;
}


/* ----------------------------- */

.staff {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding-bottom: 2rem;
}

.reviews {
  padding: 3rem 0;
  color: var(--primary-black);
  background: #ebe7df;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  line-height: 2rem;
}

.review {
  padding: 3rem 5vw .2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

blockquote {
  font-size: clamp(1.2rem, 50%, 3rem);
}

figcaption {
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8rem;
}

cite {
  display: block;
  font-weight: 100;
  font-size: 1rem;
}

.review::before {
  content: "\201c";
  font-family: reckless;
  display: block;
  font-size: 8em;
  line-height: .4;
  text-align: center;
}

.person {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 280px;
}
.container {
  border-radius: 50%;
  height: 312px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px;

  border: none;
  background: none;
}
.container:after {
  /* background-color: #f2f2f2; */
  content: "";
  height: 10px;
  position: absolute;
  top: 390px;
  width: 100%;
}
.container:hover {
  transform: scale(0.54);
}
.container-inner {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
  );
  position: relative;
  transform-origin: 50%;
  top: -200px;
}
.circle {
  background-color: #332f2c;
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}

.img {
  pointer-events: none;
  position: relative;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container:hover .img {
  transform: translateY(0) scale(1.1);
}
.img1 {
  left: 22px;
  top: 164px;
  width: 340px;
}
.img2 {
  left: -46px;
  top: 174px;
  width: 444px;
}
.img3 {
  left: -16px;
  top: 144px;
  width: 466px;
}
.divider {
  background-color: #ca6060;
  height: 1px;
  width: 160px;
}
.name {
  color: var(--soft-black);
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}
.title {
  color: #6e6e6e;
  font-family: arial;
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
}
